#personAppointment {
  padding: 48px 40px; }
  #personAppointment .tab {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 26px; }
    #personAppointment .tab span {
      font-size: 16px;
      color: #666666;
      padding: 12px 44px;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    #personAppointment .tab span:hover {
      color: #ffffff;
      background-color: #00a6a0; }
    #personAppointment .tab span.sel {
      color: #ffffff;
      background-color: #00a6a0; }
  #personAppointment .listWrap ul li {
    border: 1px solid #e5e5e5;
    padding: 25px 25px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer; }
    #personAppointment .listWrap ul li .list-left {
      width: 18%;
      margin-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 12px 0; }
      #personAppointment .listWrap ul li .list-left .left-img {
        width: 60px;
        height: 60px;
        margin: auto;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #efefef;
        margin-bottom: 18px; }
        #personAppointment .listWrap ul li .list-left .left-img img {
          max-width: 100%;
          max-height: 100%; }
      #personAppointment .listWrap ul li .list-left .left-name {
        text-align: center;
        width: 95%;
        font-size: 16px;
        color: #666666;
        margin: auto; }
    #personAppointment .listWrap ul li .list-right {
      width: 80%;
      position: relative; }
      #personAppointment .listWrap ul li .list-right .right_1 {
        font-size: 16px;
        color: #666666;
        width: 75%; }
        #personAppointment .listWrap ul li .list-right .right_1 > div {
          line-height: 40px; }
          #personAppointment .listWrap ul li .list-right .right_1 > div span {
            display: inline-block;
            vertical-align: middle; }
          #personAppointment .listWrap ul li .list-right .right_1 > div .icon {
            width: 20px;
            height: 20px;
            margin-right: 14px; }
          #personAppointment .listWrap ul li .list-right .right_1 > div .text {
            width: 92%; }
        #personAppointment .listWrap ul li .list-right .right_1 > div:last-child {
          margin-bottom: 0; }
        #personAppointment .listWrap ul li .list-right .right_1 .r1_1 .icon {
          background: url("../img/icon05.png") no-repeat center;
          background-size: 80% auto; }
        #personAppointment .listWrap ul li .list-right .right_1 .r1_2 .icon {
          background: url("../img/icon06.png") no-repeat center;
          background-size: 80% auto; }
        #personAppointment .listWrap ul li .list-right .right_1 .r1_3 span {
          color: #00a6a0; }
        #personAppointment .listWrap ul li .list-right .right_1 .r1_3 .icon {
          background: url("../img/icon07.png") no-repeat center;
          background-size: 80% auto; }
      #personAppointment .listWrap ul li .list-right .right_2 {
        position: absolute;
        width: 25%;
        bottom: 0;
        right: 0; }
        #personAppointment .listWrap ul li .list-right .right_2 button {
          padding: 6px 10px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          font-size: 14px;
          background-color: transparent; }
        #personAppointment .listWrap ul li .list-right .right_2 .r2_1 {
          color: #00a6a0;
          border: 1px solid #00a6a0;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        #personAppointment .listWrap ul li .list-right .right_2 .r2_2 {
          color: #999999;
          border: 1px solid #999999;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
  #personAppointment .listWrap ul li:hover {
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    background-color: #fff; }
    #personAppointment .listWrap ul li:hover .list-right .right_2 .r2_1 {
      background-color: #00a6a0;
      color: #ffffff; }
    #personAppointment .listWrap ul li:hover .list-right .right_2 .r2_2 {
      color: #ffffff;
      background-color: #999999; }

/*# sourceMappingURL=personAppointment.css.map */
