#personMessage{
  padding: 48px 40px;
  .tab{
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 26px;
    span{
      font-size: 16px;
      color: #666666;
      padding: 12px 44px;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    span:hover{
      color: #ffffff;
      background-color: #00a6a0;
    }
    span.sel{
      color: #ffffff;
      background-color: #00a6a0;
    }
  }
  .tabWrap{
    .system{
      ul{
        li{
          padding: 20px 22px;
          .li_1{
            .type{
              font-size: 18px;
              color: #666666;
              margin-bottom: 20px;
            }
            .info{
              font-size: 14px;
              color: #999999;
              font-weight: lighter;
            }
          }
          .li_2{
            font-size: 14px;
            color: #999999;
          }
        }
        li:nth-child(2n+1){
          background-color: #f5f5f5;
        }
      }
    }
  }
}
