#safety {
  padding: 48px 40px; }
  #safety .list1 {
    line-height: 40px;
    padding: 0 20px;
    background-color: #f5f5f5; }
    #safety .list1 .l1_left {
      width: 80%; }
      #safety .list1 .l1_left .left_1 {
        margin-right: 24px;
        font-size: 14px;
        color: #333333; }
        #safety .list1 .l1_left .left_1 > span {
          display: inline-block; }
        #safety .list1 .l1_left .left_1 .lineWrap {
          width: 100px;
          height: 13px;
          position: relative;
          top: 1px;
          background-color: #cccccc;
          margin-right: 10px; }
          #safety .list1 .l1_left .left_1 .lineWrap span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #73b149; }
          #safety .list1 .l1_left .left_1 .lineWrap .level1 {
            width: 5%; }
          #safety .list1 .l1_left .left_1 .lineWrap .level2 {
            width: 25%; }
          #safety .list1 .l1_left .left_1 .lineWrap .level3 {
            width: 50%; }
          #safety .list1 .l1_left .left_1 .lineWrap .level4 {
            width: 75%; }
          #safety .list1 .l1_left .left_1 .lineWrap .level5 {
            width: 95%; }
      #safety .list1 .l1_left .left_2 {
        font-size: 14px;
        color: #fdc405; }
    #safety .list1 .l1_right {
      width: 20%;
      font-size: 14px;
      color: #00a6a0;
      text-align: right; }
      #safety .list1 .l1_right span {
        cursor: pointer; }
  #safety .list2 li {
    padding: 45px 0;
    border-bottom: 1px solid #eeeeee; }
    #safety .list2 li .liWrap .wrap_left {
      width: 90%;
      line-height: 28px; }
      #safety .list2 li .liWrap .wrap_left .left_1 {
        font-size: 18px;
        color: #666666;
        font-weight: bold;
        position: relative; }
        #safety .list2 li .liWrap .wrap_left .left_1 span {
          display: inline-block;
          vertical-align: middle; }
        #safety .list2 li .liWrap .wrap_left .left_1 .icon {
          width: 28px;
          height: 20px;
          margin: 0 15px 0 15px; }
        #safety .list2 li .liWrap .wrap_left .left_1 .suc {
          background: url("../img/icon23.png") no-repeat center;
          background-size: 100% auto; }
      #safety .list2 li .liWrap .wrap_left .left_2 {
        font-size: 14px;
        color: #333333;
        position: relative;
        margin-left: 20px;
        padding-left: 20px; }
        #safety .list2 li .liWrap .wrap_left .left_2 > div span {
          font-size: 14px;
          color: #999999; }
        #safety .list2 li .liWrap .wrap_left .left_2 > span span {
          color: #fdc405; }
        #safety .list2 li .liWrap .wrap_left .left_2 .div2 {
          color: #fdc405; }
          #safety .list2 li .liWrap .wrap_left .left_2 .div2 span {
            color: #00a6a0;
            cursor: pointer; }
        #safety .list2 li .liWrap .wrap_left .left_2 .span1 {
          margin-right: 15px; }
      #safety .list2 li .liWrap .wrap_left .left_2:after {
        content: '';
        display: block;
        border-left: 1px solid #e5e5e5;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
    #safety .list2 li .liWrap .wrap_right {
      width: 10%;
      text-align: right; }
      #safety .list2 li .liWrap .wrap_right span {
        color: #00a6a0;
        font-size: 14px;
        cursor: pointer;
        margin-right: 15px; }
  #safety .list2 li:last-child {
    border-bottom: 4px solid #eeeeee; }
  #safety .list3 {
    padding: 45px 0; }
    #safety .list3 .liWrap .wrap_left {
      width: 90%;
      line-height: 28px; }
      #safety .list3 .liWrap .wrap_left .left_1 {
        font-size: 18px;
        color: #666666;
        font-weight: bold;
        position: relative; }
        #safety .list3 .liWrap .wrap_left .left_1 span {
          display: inline-block;
          vertical-align: middle; }
        #safety .list3 .liWrap .wrap_left .left_1 .icon {
          width: 26px;
          height: 30px;
          margin: 0 15px 0 15px; }
        #safety .list3 .liWrap .wrap_left .left_1 .suc {
          background: url("../img/icon24.png") no-repeat center;
          background-size: 100% auto; }
      #safety .list3 .liWrap .wrap_left .left_2 {
        font-size: 14px;
        color: #333333;
        position: relative;
        margin-left: 20px;
        padding-left: 20px; }
        #safety .list3 .liWrap .wrap_left .left_2 > div span {
          font-size: 14px;
          color: #999999; }
        #safety .list3 .liWrap .wrap_left .left_2 > span span {
          color: #fdc405; }
        #safety .list3 .liWrap .wrap_left .left_2 .div2 {
          color: #fdc405; }
          #safety .list3 .liWrap .wrap_left .left_2 .div2 span {
            color: #00a6a0;
            cursor: pointer; }
        #safety .list3 .liWrap .wrap_left .left_2 .span1 {
          margin-right: 15px; }
      #safety .list3 .liWrap .wrap_left .left_2:after {
        content: '';
        display: block;
        border-left: 1px solid #e5e5e5;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
    #safety .list3 .liWrap .wrap_right {
      width: 10%;
      text-align: right; }
      #safety .list3 .liWrap .wrap_right span {
        color: #00a6a0;
        font-size: 14px;
        cursor: pointer;
        margin-right: 15px; }
      #safety .list3 .liWrap .wrap_right button {
        background-color: #00a6a0;
        color: #ffffff;
        font-size: 14px;
        padding: 6px 12px; }

/*# sourceMappingURL=safety.css.map */
